
@import (reference) "./mixins.less";

@green: rgb(0, 156, 25);
@green: #3b9226;

.auto-textarea {
  display: block;
  overflow: hidden;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 7px 0;
  // border-radius: 2px;
  // box-shadow: 0 0 2px #ccc;
  min-height: 36px;
  font-size: 14px;
  border: none;
  font-family: sans-serif;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.commented_inline-body {
  transform: translate(0,0);
  transition: transform .2s ease;

  &--shifted {
    transform: translate(-300px, 0);
  }
}

.commented_main {
  font-family: sans-serif;
  font-size: 14px;
  // width: 700px;
  margin: 30px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.commented_pic {
  width: 35px;
  height: 35px;
  border-radius: 24px;
}

.commented_create {
  font-size: 14px;
  display: flex;

  .right {
    margin-left: 10px;
    flex: 1;
  }
}

.commented_done-edit {
  color: @green;
}

@lightGreen: #baeaae;

.commented_reply {
  color: @lightGreen;
  cursor: pointer;
  transition: color .2s;
  margin-left: 5px;
  .commented_comment:hover & {
    color: @green;
  }
}


.commented_comment {
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  position: relative;

  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;

  &.commented_comment--has-replies {
    border-bottom: none;
  }

  .parent-deleted {
    color: #9C0000;
    margin-left: 10px;
    font-size: 12px;
  }

  .display-time {
    margin-left: 10px;
    color: #bbb;
    font-size: 12px;
  }

  .right {
    margin-left: 10px;
    flex: 1;
  }

  .text {
    margin: 5px 0 13px;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.commented_comment--flagged {
  .fa-circle {
    color: #ccc;
  }

  .display-name {
    color: #AC6464;
    margin-left: 10px;
    margin-top: 8px;
  }
}

.commented_comment--mine {
  .display-name {
    color: #797EFF;
  }
}

.commented_replies > .commented_one:first-child .commented_comment {
  margin-top: 0;
}

.commented_comment--reply {
  margin-left: 45px;
  margin-top: 0;

  .commented_one:not(:last-child) > & {
    border-bottom: none;
  }
}

.add-comment {
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #777;
  margin-left: 0;
  padding-bottom: 2px;

  transition: margin-left .2s ease, color .2s;

  &:hover {
    color: @green;
    margin-left: 10px;
  }

  &:before {
    content: '+';
    border-radius: 20px;
    padding: 0 7px 2px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 13px;
    font-size: 22px;
    font-weight: normal;
  }

}

.commented_attribution {
  color: #777;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;

  a {
    text-decoration: none;
  }
}

